<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="{{org_config.google_analytics}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config',"{{org_config.google_analytics_code}}" );
  </script>
    <title>{{org_config.main_title}}</title>
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/NOAA-CEFI-Portal/CEFI-info-hub-list/main/website/website_images/favicon.ico">
   <link type="text/css" rel="stylesheet" href="./static/main.css" />

</head>

<body>
  <main role="main" class="container">
        <div class="mywrap_head">
            <img src="https://raw.githubusercontent.com/NOAA-CEFI-Portal/CEFI-info-hub-list/main/website/website_images/NOAA_logo.png" alt="NOAA Logo" height="150">&nbsp;&nbsp;&nbsp;
            <h1 class ="header_title">CEFI Information Hub</h1>
            <p>Source information from <a href="https://github.com/NOAA-CEFI-Portal/CEFI-info-hub-list/blob/main/data/cefi_list.json">CEFI information hub GitHub Repository</a></p>
        </div>

        <div class = "divider"></div>
        
        <div class ="mywrap_head">
          <button class="header_button" onclick="location.href='https://psl.noaa.gov/cefi_portal/';" value="CEFI homepage" >CEFI Portal</button>
          <button class="header_button" onclick="location.href='./index.html';" value="Back to Summary" >CEFI Summary</button>
          <button class="header_button" onclick="location.href='https://github.com/NOAA-CEFI-Portal/CEFI-info-hub-list/issues';" value="Contact CEFI" >Contact CEFI</button>
        </div>

        <div class = "divider"></div>
        
        <div class ="mywrap">
          <h2 class ="title">{{org_config.general_title}}</h2>
        </div>

        <div class="mywrap">

          <input class = "boxInput" type="text" id="myInput" onkeyup="simpleSearch()" placeholder="   Search keyword" title="Type in search word">

          <input type="button" class="dropbtn" value="Show all" onclick="resetSearch()">

        </div>


        <div class="mywrap">
          <!-- create the dropdown filters-->
          {% for kwd in cat_defs %}
          <div class="dropdown">
            <button class="dropbtn">Filter by {{ cat_defs[kwd]['name'] }} </button>
            <div class="dropdown-content">
              {% for key, term in cat_defs[kwd].items()%}
                {% if not key in ['name','0'] %}
                  {% if kwd == 'cvar' %}
                    <input type="button" value="{{term[0]}}" onclick="simpleSearch(this.value)">
                  {% else %}
                    <input type="button" value="{{term}}" onclick="simpleSearch(this.value)">
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endfor %}

        </div>

        <div class="divider_thin"></div>

        <div class="mywrap">
          <div class ="boxcontainer">

            {% for key, value in configs.items() %}
            <div class = "box">
                <a class = "shortTitle" href= {{value['url']}}> {{value['title']}} </a>
                <div class = "longTitle">{{value['desc']}}</div>
                {% for filter in cat_defs %}
                    {% if value[filter] is defined and value[filter]|length %}
                      <div>
                          <h3>{{cat_defs[filter]['name']}}:</h3>
                          {% if filter == 'cvar' %}
                            {% for intmap in value[filter] %}
                              <a class = "keywords">{{ cat_defs[filter][intmap|string][0] }}</a>
                            {% endfor %}
                          {% else %}
                            {% for intmap in value[filter] %}
                              <a class = "keywords">{{ cat_defs[filter][intmap|string] }}</a>
                            {% endfor %}
                          {% endif %}
                      </div>
                    {% endif %}
                {% endfor %}

                <div class = "language"></div>
                <!-- web app button -->
                <div class = "iconrow">
                  {% if value['url'] is defined and value['url']|length %}
                  <button class = "icon_small" onclick="location.href= '{{value.url}}';" value="link to resource" >&#128640;</button>
                  {% else %}
                  <button class = "icon_small" disabled></button>
                  {% endif %}
                </div>
            </div>
            {% endfor %}
          </div>
        </div>

      <div class = "divider"></div>

      <footer >
            <img src="https://raw.githubusercontent.com/NOAA-CEFI-Portal/CEFI-info-hub-list/main/website/website_images/NOAA_logo.png" alt="NOAA Logo" height="75">
        <div class="mywrap_center">
            <a class ="mylink line" href="https://www.commerce.gov/">U.S. Department of Commerce</a>
            <a class ="mylink line" href="https://www.noaa.gov">National Oceanographic and Atmospheric Administration</a>
            <a class ="mylink line" href="https://psl.noaa.gov/">NOAA PSL</a>
            <a class ="mylink" href="https://github.com/NOAA-CEFI-Portal/CEFI-info-hub-list">GitHub Repository</a>
        </div>
      </footer>

  </main>

  <script>
    var sidenav = document.getElementsByClassName("sidenav");
    var menu = document.getElementById("menu");
    var menulabel = document.getElementsByClassName("menulabel");


    function simpleSearch(val) {
        var input, filter, ul, box, box_each, box_each_abbrev, box_each_keywords, box_each_drawer, i, txtValue;
        if(val === undefined){
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
        }
        else {
          filter = val.toUpperCase();
        }
        box = document.getElementsByClassName("box");
        for (i = 0; i < box.length; i++) {
            box_each = box[i].getElementsByClassName("longTitle")[0];
            box_each_abbrev = box[i].getElementsByClassName("shortTitle")[0];
            var keywords = box[i].getElementsByClassName("keywords")
            for (j = 0; j < keywords.length; j++) {
              box_each_keywords += keywords[j].innerText+" "
            }
            box_each_drawer = box[i].getElementsByClassName("toolbox_drawers")[0];
            txtValue = box_each.textContent + " " + box_each_abbrev.innerText + " " + box_each_keywords;
            console.log(box_each_keywords)
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                box[i].style.display = "";
            } else {
                box[i].style.display = "none";
            }
        }
    }

    function drawerSearch(val) {
        var input, filter, ul, box, box_each, i, txtValue;
        if(val === undefined){
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
        }
        else {
          filter = val.toUpperCase();
        }
        box = document.getElementsByClassName("box");
        for (i = 0; i < box.length; i++) {
            box_each = box[i].getElementsByClassName("toolbox_drawers")[0];
            txtValue = box_each.textContent;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                box[i].style.display = "";
            } else {
                box[i].style.display = "none";
            }
        }
    }

    function resetSearch() {
        var box, i;
        box = document.getElementsByClassName("box");
        for (i = 0; i < box.length; i++) {
          box[i].style.display = "";
        }
    }

    function menuClick(x) {
      // x.classList.toggle("change");
      menulabel[0].classList.toggle("change");
      sidenav[0].classList.toggle("open");
      menu.classList.toggle("is_active");
      let y =x.getAttribute("aria-expanded");
      let t;
      if (y == "true"){
        y = "false"
        t="-1";
      }
      else {
        y = "true";
        t="0";
      }
      x.setAttribute("aria-expanded", x);

        }
      // boxcontainer

  </script>
</body>
</html>