name: Daily-linkcheck

on:
  workflow_dispatch:
  schedule:
    - cron: '18 */6 * * *'
    - cron: '11 5 * * *'

jobs:
  link-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Micromamba ${{ matrix.python-version }}
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml
          init-shell: bash

      - name: link check
        shell: bash -l {0}
        run: python daily_linkcheck.py
